.image {
    
    width: 53px;
    height: 36px;
}
.header{
    padding-left: 10px;
    padding-top: 15px;
}
.header-links-container{
    display: flex;

}
.text{
    white-space: nowrap;
    padding-left: 20px;
    /* text-align: center; */
    font-size: 14px;
    
    text-transform: uppercase;
    padding-top: 7px;
    font-family: Verdana;
    
    
}
.flex{
    display:flex;
    align-items: center;
}
.img{
    width:24px;
    height: 24px;
    margin-right:15px;
    
}
.input{
    background-color: #f5f5f6; 
    width:400px;
    margin-left:25px;
    border-radius: 5px;
    
    display:flex;
    align-items: center;
    padding-top: 8px;
    padding-bottom:8px;
    padding-left: 8px;
    
}
.search{
    border:none;
    background-color: #f5f5f6;

    
}
.whishlist{
    display:flex;
    padding-left: 250px;
    
    
}
.whishlist-icon{
    margin-right:25px;
    margin-bottom:4px;
    margin-top:10px;
    height: 24px;
    width:24px;
}
.first{
    margin-right:20px;
    margin-top:0px;
    font-size: 12px;
}
.banner{
    width:1200px;
    height: auto;
    padding-left: 33px;
}
.field{
    border-radius: 5px;
    border-color:lightblue;
    height:65px;
    width:1300;
}
.header-icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.discount-container{
    display: flex;
    border-radius:5px ;
    border:1px solid lightblue;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
}
.axis-bank-img{
    width:100px;
    height:auto;
   
}
.border-line{
    border-left: 1px solid;
    height:40px;
    margin: 0 10px;
}
.instant-bold{
font-weight: bold;
}
.terms-condition{
    position:absolute;
    right:7px;
    bottom:10px;
    font-size: 10px;
}
.zone-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.Deal-Zone{
    font-family: Verdana;
    font-size:25px;
}
.End-the-season{
    font-family: cursive;
    font-style: italic;
    padding-top: 5px;
}
.container-with-subcontainer{
  
    
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    margin-right:320px;
}
.container-with-images{
    border:solid 3px gold;
    margin-right: 20px;
    
}
.img-designer-ethnic{
width:220px;
height:auto;
}

.second-container-with-subcontainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}
.highlander-image{
    padding-top: 20px;
    width: 250px;
    height: auto;
    margin-right:20px;
}
.best-selling-styles{
    text-align: center;
    margin-top: 30px;
    font-family: Verdana;
    font-size: 30px;
}
.ladies-top{
display:flex;

}
.ladies-top-child{
    text-align: center;
    background-color: rgba(240,240,240,0.5);
    padding:20px;
    border-radius: 5px;
    
}
.vertical-parent-container{
    display:flex;
   
}
.vertical-col-one-container{
    background-color: rgba(240,240,240,0.5);
    text-align:center;
    padding:20px;
}
.vertical-col-one{
    width:180px;
    height:230px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    
    border-radius: 10px;
    
}
.Kurtas-class{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.vertical-col-two{
    width:180px;
    height:250px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}
.top-for-girls{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.parent-container-with-two-images{
    
    display: flex;
    text-align: center;
    
}
.child-parent-container-with-two-images{
    background-color: lightgray;
    padding:20px;
    border-radius: 7px;
    
}
.child-parent-container-with-two-images-first{
    margin-bottom: 20px;
}
.child-image-one{
    width:220px;
    height:auto;
    border-radius: 7px;
    margin-bottom: 10px;
   
}
.fitness-collection{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.child-image-two{
    width:220px;
    height:auto;
    border-radius: 7px;
    margin-bottom: 10px;
}

.footer-full-container{
    padding: 50px;
background-color: #FAFBFC;
display:flex;
margin-top:30px;
justify-content: space-evenly;


}
.footer-first-sub-container{
    margin-bottom: 20px;
}
.footer-first-header{
margin-right: 20px;


}
.first-header-list{
    list-style-type: none;
    padding-left: 0;
}
.myntra-button{
    border-radius: 30px;
    background-color: red;
    border-width: 0;
    height: 15px;
    font-size: 11px;
    color:white;
    font-weight: bold;
}
.footer-sec-sub-container{
    margin-bottom: 20px;
    
  
}
.footer-sec-header{
    margin-right: 20px;
    
}
.sec-header-list{
list-style-type: none;
padding-left: 0;
}
.footer-third-sub-container{
    margin-right: 20px;
}
.footer-third-header{
    margin-bottom:20px;
}
.image-with-google-and-apple-img{
    margin-bottom:20px;
}
.google-img{
    width:140px;
    height: 42px;
    margin-right: 10px;
}
.apple_store{
    width:140px;
    height: 42px;
    margin-right: 10px;
}
.Keep-in-touch{
    margin-bottom: 20px;
}

.icon-images{
    /* display:flex; */
    
}
.icon-images img{
    width:20px;
    height:20px;
    margin-right:10px;
}
.footer-fourth-container{

}
.original{
    display: flex;
    margin-bottom:20px;
    
}
.original img{
    margin-right: 20px;
    width: 48px;
    height: 40px;
}
.thirty-days{
    display: flex;
}
.thirty-days img
{
    margin-right: 20px;
    width: 48px;
    height: 40px;
}
.scroll-fixed-container{
    background-color: #535766;
    position:fixed;
    top: 50%;
    background-color: #535766;
    position: fixed;
    right: -77px;
    transform: rotate(
-90deg);
    padding:7px;
    border-radius: 6px 6px 0px 0px;

}
.flat-off{
    font-size: 25px;
    color: white;
    font-weight: bold;
}